// *************************************
//
//   Application
//   -> MVCSS v3.0.2
//
// *************************************

// -------------------------------------
//   Compass
// -------------------------------------

@import "compass/css3";
@import "compass/utilities";
@import "compass/layout";

// -------------------------------------
//   Core
// -------------------------------------

// ----- Settings ----- //

@import "core/settings";

// ----- Helpers ----- //

@import "core/helpers";

// ----- Base ----- //

@import "core/base";

// ----- Content ----- //

@import "core/content";

// ----- Layout ----- //

@import "core/layout";

// -------------------------------------
//   Modules
// -------------------------------------

@import "modules/select2";
@import "modules/mini-map";
@import "modules/google-map";

// -------------------------------------
//   Inbox
// -------------------------------------


map, div[map] {display:block; width:600px; height:400px;}
pre {margin:0px} h3{margin-bottom:0px}

#loading-bar {

	.bar {
		top: $nav-height !important;
		background: $red;
		height: 4px;
		@include box-shadow(inset 0 2px 0 rgba(0, 0, 0, .15));
	}

	.peg {
		display: none;
	}
}

