// *************************************
//
//   Select2
//
// *************************************

body, body .select2-container, body .select2-container .select2-choice {
	.select2-choice, .select2-arrow {
		background-image: none;
		border-color: #adadad;
		height: 34px;
		line-height: inherit;

		.select2-search-choice-close {
			top: 9px;
		}

		b {
			background-position: 0 3px;
		}
	}

	.select2-chosen {
		font-size: 14px;
		padding: 6px;
		// background-color: #e6e6e6;
	}

	.select2-arrow {
		background-color: #eee;
		color: #555;
	}

	.select2-drop {
		border: 1px solid #aaa;
		border-top: 1px solid #aaa;
	}

	.select2-drop.select2-drop-above.select2-drop-active {
		border-top: 1px solid #aaa;
	}

	.select2-search input {
		height: 10px !important;
		font-size: 10px;
		min-height: 26px;
	}

	.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
		border: 1px solid #aaa;
	}

	.select2-results .select2-highlighted {
		background: $blue;
	}
}
