.results {
	// padding: 0 12px;
	position: relative;
	color: $white;
	@include text-shadow(0 0 10px rgba($black, .9));

	.title {
		margin: 0;
		position: absolute;
		text-align: right;
		right: 0;
		color: $white;
		@include opacity(.4);
		@include z-index(trigger);
	}

	.panel.hospital {

		.panel-heading {
			background-image: #{$null}-webkit-linear-gradient(to top, rgba($black, .0) 0%, rgba($black, .8) 100%);
		}
		background-size: cover;
		background-position: 50% 50%;
	}
}

