.pager {
	position: absolute;
	top: 360px - 82px;
	@include z-index(trigger);
	width: 100%;
	padding: 13px;

	li > a, li > span {
		display: inline-block;
		padding: 5px 14px;
		background-color: rgba($white, .1);
		border: 1px solid rgba($black, .5);
		border-radius: 15px;
		color: $black;
		@include text-shadow(0 0 10px rgba($white, .9));
		@include transition-property(background-color);
		@include transition-duration(.3s);
	}

	li > a:hover, li > a:focus {
		background-color: rgba($white, .5);
	}

	.disabled > a, .disabled > a:hover, .disabled > a:focus, .disabled > span {
		color: rgba($black, .3);
		cursor: not-allowed;
		background-color: transparent;
		@include opacity(.8);
	}
}

.results {
	// padding: 0 12px;
	position: relative;

	.title {
		margin: 0;
		position: absolute;
		text-align: right;
		right: 0;
		color: $white;
		padding: 12px;
		@include opacity(.4);
		@include z-index(trigger);
		@include text-shadow(0 0 10px rgba($black, .9));
	}

	// -------------------------------------
	//   項目s
	// -------------------------------------

	.result {
		display: none;
	}

	.result.show {
		display: block;
	}

	// -------------------------------------
	//   項目 - 醫療機構
	// -------------------------------------

	.info.hospital {
		background-size: $map-right-width $map-right-width;
		background-position: 100% $nav-height;
		background-attachment: fixed;
		position: relative;
		overflow: hidden;

		&::before {
			content: "";
			display: block;
			position: absolute;
			@include z-index(map_right_bg);
			width: 100%;
			height: 100%;
			top: 360px;
			left: 0;
			background-color: $white;
		}

		.panel {
			position: relative;
			@include z-index(map_right_content);
			margin: 0 15px 20px;
		}

		.panel.about + .panel {
			margin-top: 20px;
		}

		.panel.about {
			position: relative;
			border: 0;
			color: $white;
			@include text-shadow(0 0 10px rgba($black, .9));
			margin: 0;
			height: 360px;
			background-color: transparent;

			.panel-heading {
				display: none;
			}

			.panel-body {
				// background-color: rgba(0,0,0, .5);
				background-image: image-url("black_linear_fade_in_to_bottom.png");
				background-position: 0 0;
				background-repeat: repeat-x;
				background-size: 1px 60px;
				padding: 15px 15px 65px;
				position: absolute;
				bottom: 0;
				overflow: hidden;
				width: 100%;

				> * {
					position: relative;
					@include z-index(map_right_content);
				}

				&::before {
					content: "";
					display: block;
					position: absolute;
					@include z-index(map_right_bg);
					width: 100%;
					height: 100%;
					top: 60px;
					left: 0;
					background-color: rgba(0,0,0, .5);
				}
			}

			&::after {
				content: "";
				display: block;
				position: absolute;
				@include z-index(map_right_content);
				width: 100%;
				height: 50px;
				left: 0;
				bottom: -1px;
				background-image: image-url("white_linear_fade_in_to_bottom_100.png");
				@include background-size(100% 100%);
			}

			.name {
				font-size: rem(40px);
				&, a { color: $white; }
			}
		}

		+ .pager {
			display: none;
		}
	}
}

