// *************************************
//
//   Layout
//   -> Margin, Padding, Sizing
//
// *************************************

// -------------------------------------
//   Body
// -------------------------------------

body {
	position: relative;
	height: 100%;
	height: 100vh;
	padding-top: $nav-height;
	min-width: 1200px;
}

.view {
	height: 100%;
	width: 100%;
}

// -------------------------------------
//   Nav
// -------------------------------------

.navbar {
	background-color: $blue;
	color: $white;

	a {
		color: $white;
	}

	.icon-bar {
		background-color: $white;
	}

	.nav {

		@include respond-to($tablet-min-width) {
			margin-right: 18px;
		}
	}

	li.active > a, li.active > a {
		background-color: lighten($blue, 7%);
	}

	li > a:hover, li > a:focus {
		background-color: lighten($blue, 10%);
	}

	.navbar-brand {
		line-height: inherit;
		font-weight: 800;
	}

	.form-control:focus {
		border-color: #49bfff;
		outline: 0;
		-webkit-box-shadow: inset 0 0 0;
		box-shadow: inset 0 0 0;
	}
}

.loading-progress {
	margin: 0;
	position: absolute;
	@include z-index(trigger);
	top: $nav-height;
	width: 100%;
	height: 4px;
	@include border-radius(0);
	background-color: transparent;

	.progress-bar {
		background-color: $red;
		@include box-shadow(inset 0 2px 0 rgba(0, 0, 0, .15));
	}
}

// -------------------------------------
//   Main Dr.Find
// -------------------------------------

#main.find {

	&, .row, .row > * {
		height: 100%;
		// height: 100vh;
		overflow: auto;
	}

	.left {
		float: left;
		width: calc(100% - #{$map-right-width});
		position: relative;
		overflow: hidden;

		.map {
			height: calc(100% - #{$map-bottom-height});
			position: relative;
			@include z-index(map);
		}

		.bottom {
			height: $map-bottom-height;
			position: absolute;
			@include z-index(map_bottom);
			background-color: rgba($base-backgroundColor, .7);
			// overflow: hidden;
			bottom: 0;
			width: 100%;

			> .title, > * > .title {
				@extend h1;
				margin: 0;
				position: absolute;
				padding: 12px;
				@include opacity(.32);
				@include z-index(trigger);
				pointer-events: none;
			}

			> .title.last, > * > .title.last {
				top: auto;
				left: auto;
				bottom: 0;
				right: 0;
			}

			.filters {
				padding: 6px 0;
				width: 100%;
				height: 100%;
				position: relative;
				@include z-index(map_bottom_content);
			}

			.control-group {
				max-width: 500px;
				// width: 300px;
				margin: 4px 4px;
				display: inline-block;
			}

			.control-group.dist {
				float: left;
				margin: 0;
			}

			.control-group.cat {

				.btn-group {

					.btn:last-of-type {
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
					}
				}

				.select2-container {
					margin-left: -5px;

					.select2-choice {
						padding-left: 4px;
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;

					}
				}
			}

			.mini-map {
				position: relative;
				height: $map-bottom-height + 60px;
				top: -36px;
				left: -8px;
				width: $map-bottom-height * 0.9;
			}

			.articles {
				position: relative;
				width: 100%;
				height: 100%;
				@include nowrap;
				overflow: auto;
				overflow-x: hidden;
				overflow-y: auto;
				position: absolute;
				top: 0;
				right: 0;
				// width: $map-articles-width;
				// text-align: right;
			}

			.article {

				// display: inline-block;
				white-space: normal;
				margin: 12px 6px;
				overflow: visible;
				// width: 200px;
				height: auto;
				padding: 12px 10px;
				width: $map-articles-width;
				position: relative;
				right: 0;
				left: auto;
				margin-left: auto;

				&::before {
					content: "";
					position: absolute;
					@include z-index(map_bottom_bg);
					width: 20000px;
					left: -10000px;
					top: 0;
					height: 100%;
					background-color: rgba($white, .8);
				}

				&:hover::before {
					background-color: rgba($red, .8);
				}

				> * {
					position: relative;
					@include ellipsis;
					@include z-index(map_bottom_content);
				}

				> .title {
					margin: 0;
					font-size: 20px;
				}

				> .summary {
					display: block;
					white-space: normal;
					text-overflow: ellipsis;
					font-size: 12px;
				}
			}
		}

		$clo: 250px;
		$sli: 100px;

		.articles {
			@include clip-path(polygon(calc(100% - #{$map-articles-width + 20px - $clo}) 0, 100% 0, 100% 100%, calc(100% - #{$map-articles-width + 20px + $sli - $clo}) 100%));
			@include transition-property(all);
			@include transition-duration(.5s);
			// background-color: #0f0;
			opacity: .5;

			.article {
				right: - $clo * 0.6;
				@include transition-property(all);
				@include transition-duration(.5s);
			}

			&::after {
				content: "";
				position: absolute;
				@include z-index(map_bottom_content);
				background-color: #f00;
				height: 99999px;
				width: 40px;
				right: 213px;
				top: -12px - 99999px;
				@include transition-property(all);
				@include transition-duration(.5s);
				@include box-shadow(0 99999px 300px black, 0 99999px 200px black, 0 99999px 0px black);
			}
		}

		.filters {
			// @include clip-path(polygon(0 0, #{$bas} 0, #{$bas - $sli} 100%, 0 100%));
			@include clip-path(polygon(0 0, calc(100% - #{$map-articles-width + 20px - 14px - $clo}) 0, calc(100% - #{$map-articles-width + 20px + $sli + 32px - $clo}) 100%, 0 100%));
			@include transition-property(all);
			@include transition-duration(.5s);
			// background-color: #f00;
		}

		.title.first {
			top: auto;
			bottom: 0;
			left: auto;
			right: $map-articles-width + 120px - $clo;
			@include transition-property(all);
			@include transition-duration(.5s);
		}

		.articles:hover {
			@include clip-path(polygon(calc(100% - #{$map-articles-width + 20px}) 0, 100% 0, 100% 100%, calc(100% - #{$map-articles-width + 20px + $sli}) 100%));
			a { @include z-index(trigger); }
			opacity: 1;

			.article {
				right: 0;
			}

			&::after {
				right: 488px;
			}
		}

		.articles:hover ~ .filters {
			// @include clip-path(polygon(0 0, calc(100% - #{$map-articles-width + 20px}) 0, calc(100% - #{$map-articles-width + 20px + $sli}) 100%, 0 100%));
			@include clip-path(polygon(0 0, calc(100% - #{$map-articles-width + 20px - 14px}) 0, calc(100% - #{$map-articles-width + 20px + $sli + 32px}) 100%, 0 100%));
			pointer-events: none;
		}

		.articles:hover ~ .title.first {
			top: auto;
			bottom: 0;
			left: auto;
			right: $map-articles-width + 120px;
		}

		// .bottom {
		// 	bottom: -100px;
		// 	opacity: .6;
		// 	@include transition-property(bottom, opacity);
		// 	@include transition-duration(.5s);

		// 	& + .map {
		// 		.angular-google-map-container .gm-style > .gmnoprint {
		// 			margin: 200px 0 100px !important;
		// 			@include transition-property(margin);
		// 			@include transition-duration(.5s);
		// 		}
		// 	}
		// }

		// .bottom:hover {
		// 	bottom: 0;
		// 	opacity: 1;

		// 	& + .map {
		// 		.angular-google-map-container .gm-style > .gmnoprint {
		// 			margin: 200px 0 200px !important;
		// 		}
		// 	}
		// }
	}

	.right {
		float: right;
		width: $map-right-width;
		background-color: rgba($base-backgroundColor, 1);
		@include z-index(map_right);
		@include box-shadow(-1px 0px 0 rgba($black, .5));
	}

	.angular-google-map {
		height: 100%;
	}

	.angular-google-map-container {
		height: calc(100% + #{$map-bottom-height*2});
		position: relative;
		top: - $map-bottom-height;
		// height: 100%;

		.gm-style {
			overflow: visible !important;

			> .gmnoprint {
				margin: 200px 0 200px !important;
			}
		}
	}
}

// ----- Search Results ----- //

@import "layouts/results";

// -------------------------------------
//   Map
// -------------------------------------

.map {
	padding: 0;
}

// -------------------------------------
//   Utilities
// -------------------------------------

%l-block, .l-block {
	display: block;
}

%l-condense, .l-condense {
	margin-bottom: rem($base-whitespace / 2);
}

%l-pullLeft, .l-pullLeft {
	float: left;
}

%l-pullRight, .l-pullRight {
	float: right;
}

%l-space, .l-space {
	margin-bottom: rem($base-whitespace);
}

%l-xspace, .l-xspace {
	margin-bottom: rem($base-whitespace * 2);
}
