// *************************************
//
//   Layout
//   -> Margin, Padding, Sizing
//
// *************************************

// -------------------------------------
//   Body
// -------------------------------------

body {
	position: relative;
	height: 100%;
	height: 100vh;
	padding-top: $nav-height;
}

.view {
	height: 100%;
	width: 100%;
}

// -------------------------------------
//   Nav
// -------------------------------------

.navbar {
	background-color: $blue;
	color: $white;

	a {
		color: $white;
	}

	.icon-bar {
		background-color: $white;
	}

	.nav {

		@include respond-to($tablet-min-width) {
			margin-right: 18px;
		}
	}

	li.active > a, li.active > a {
		background-color: lighten($blue, 7%);
	}

	li > a:hover, li > a:focus {
		background-color: lighten($blue, 10%);
	}

	.navbar-brand {
		line-height: inherit;
		font-weight: 800;
	}

	.form-control:focus {
		border-color: #49bfff;
		outline: 0;
		-webkit-box-shadow: inset 0 0 0;
		box-shadow: inset 0 0 0;
	}
}

.loading-progress {
	margin: 0;
	position: absolute;
	@include z-index(trigger);
	top: $nav-height;
	width: 100%;
	height: 4px;
	@include border-radius(0);
	background-color: transparent;

	.progress-bar {
		background-color: $red;
		@include box-shadow(inset 0 2px 0 rgba(0, 0, 0, .15));
	}
}

// -------------------------------------
//   Main Dr.Find
// -------------------------------------

#main.find {

	&, .row, .row > * {
		height: 100%;
		// height: 100vh;
		overflow: auto;
	}

	.left {
		float: left;
		width: calc(100% - #{$map-right-width});
		position: relative;

		.map {
			height: calc(100% - #{$map-bottom-height});
			position: relative;
			@include z-index(map);
		}

		.bottom {
			height: $map-bottom-height;
			position: relative;
			@include z-index(map_bottom);
			background-color: rgba($base-backgroundColor, .7);

			> .title {
				margin: 0;
				position: absolute;
				padding: 12px;
				@include opacity(.32);
			}
		}
	}

	.right {
		float: right;
		width: $map-right-width;
		background-color: rgba($base-backgroundColor, 1);
		@include z-index(map_right);
		@include box-shadow(-1px 0px 0 rgba($black, .5));
	}

	.angular-google-map {
		height: 100%;
	}

	.angular-google-map-container {
		height: calc(100% + #{$map-bottom-height*2});
		position: relative;
		top: - $map-bottom-height;
		// height: 100%;

		.gm-style {
			overflow: visible !important;

			> .gmnoprint {
				margin: 200px 0 200px !important;
			}
		}
	}
}

// ----- Search Results ----- //

@import "layouts/results";

// -------------------------------------
//   Map
// -------------------------------------

.map {
	padding: 0;
}

// -------------------------------------
//   Utilities
// -------------------------------------

%l-block, .l-block {
	display: block;
}

%l-condense, .l-condense {
	margin-bottom: rem($base-whitespace / 2);
}

%l-pullLeft, .l-pullLeft {
	float: left;
}

%l-pullRight, .l-pullRight {
	float: right;
}

%l-space, .l-space {
	margin-bottom: rem($base-whitespace);
}

%l-xspace, .l-xspace {
	margin-bottom: rem($base-whitespace * 2);
}
