<div class="container-fluid find" id="main">
  <div class="row">
    <div class="left">
      <div class="bottom">
        <div class="filters">
          <h1 class="title">搜尋條件</h1>
          <div class="form-group" style="display:inline;">
            <select id="科別">
              <option value="(腦)神經內科">(腦)神經內科</option>
              <option value="(腦)神經外科">(腦)神經外科</option>
              <option value="一般內科">一般內科</option>
              <option value="一般外科">一般外科</option>
              <option value="乳房外科">乳房外科</option>
              <option value="免疫風濕科">免疫風濕科</option>
              <option value="內分泌科">內分泌科</option>
              <option value="呼吸治療科">呼吸治療科</option>
              <option value="大腸直腸外科">大腸直腸外科</option>
              <option value="婦產科">婦產科</option>
              <option value="婦科">婦科</option>
              <option value="家醫科">家醫科</option>
              <option value="小兒科">小兒科</option>
              <option value="復健科">復健科</option>
              <option value="心臟內科">心臟內科</option>
              <option value="心臟血管外科">心臟血管外科</option>
              <option value="心臟血管胸腔外科">心臟血管胸腔外科</option>
              <option value="心血管科">心血管科</option>
              <option value="急診科">急診科</option>
              <option value="感染科">感染科</option>
              <option value="整形外科">整形外科</option>
              <option value="新陳代謝科">新陳代謝科</option>
              <option value="泌尿外科">泌尿外科</option>
              <option value="泌尿科">泌尿科</option>
              <option value="消化內科">消化內科</option>
              <option value="燒燙傷門診">燒燙傷門診</option>
              <option value="營養師門診">營養師門診</option>
              <option value="牙科">牙科</option>
              <option value="疼痛門診">疼痛門診</option>
              <option value="皮膚科">皮膚科</option>
              <option value="直腸外科">直腸外科</option>
              <option value="眼科">眼科</option>
              <option value="神經科">神經科</option>
              <option value="精神科">精神科</option>
              <option value="耳鼻喉科">耳鼻喉科</option>
              <option value="肝膽胃腸科">肝膽胃腸科</option>
              <option value="肝膽腸胃科">肝膽腸胃科</option>
              <option value="胸腔內科">胸腔內科</option>
              <option value="胸腔及心臟血管外科">胸腔及心臟血管外科</option>
              <option value="胸腔科">胸腔科</option>
              <option value="腎臟內科">腎臟內科</option>
              <option value="腎臟科">腎臟科</option>
              <option value="腸胃科">腸胃科</option>
              <option value="腸胃肝膽科">腸胃肝膽科</option>
              <option value="血管外科">血管外科</option>
              <option value="足踝外科">足踝外科</option>
              <option value="運動醫學科">運動醫學科</option>
              <option value="過敏">過敏</option>
              <option value="過敏免疫風濕科">過敏免疫風濕科</option>
              <option value="骨科">骨科</option>
            </select>
            <div class="btn-group">
              <label class="btn" ng-model="radioModel" btn-radio="'(腦)神經內科'">(腦)神經內科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'(腦)神經外科'">(腦)神經外科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'一般內科'">一般內科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'一般外科'">一般外科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'乳房外科'">乳房外科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'免疫風濕科'">免疫風濕科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'內分泌科'">內分泌科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'呼吸治療科'">呼吸治療科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'大腸直腸外科'">大腸直腸外科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'婦產科'">婦產科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'婦科'">婦科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'家醫科'">家醫科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'小兒科'">小兒科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'復健科'">復健科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'心臟內科'">心臟內科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'心臟血管外科'">心臟血管外科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'心臟血管胸腔外科'">心臟血管胸腔外科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'心血管科'">心血管科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'急診科'">急診科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'感染科'">感染科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'整形外科'">整形外科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'新陳代謝科'">新陳代謝科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'泌尿外科'">泌尿外科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'泌尿科'">泌尿科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'消化內科'">消化內科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'燒燙傷門診'">燒燙傷門診</label>
              <label class="btn" ng-model="radioModel" btn-radio="'營養師門診'">營養師門診</label>
              <label class="btn" ng-model="radioModel" btn-radio="'牙科'">牙科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'疼痛門診'">疼痛門診</label>
              <label class="btn" ng-model="radioModel" btn-radio="'皮膚科'">皮膚科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'直腸外科'">直腸外科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'眼科'">眼科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'神經科'">神經科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'精神科'">精神科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'耳鼻喉科'">耳鼻喉科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'肝膽胃腸科'">肝膽胃腸科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'肝膽腸胃科'">肝膽腸胃科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'胸腔內科'">胸腔內科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'胸腔及心臟血管外科'">胸腔及心臟血管外科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'胸腔科'">胸腔科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'腎臟內科'">腎臟內科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'腎臟科'">腎臟科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'腸胃科'">腸胃科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'腸胃肝膽科'">腸胃肝膽科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'血管外科'">血管外科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'足踝外科'">足踝外科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'運動醫學科'">運動醫學科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'過敏'">過敏</label>
              <label class="btn" ng-model="radioModel" btn-radio="'過敏免疫風濕科'">過敏免疫風濕科</label>
              <label class="btn" ng-model="radioModel" btn-radio="'骨科'">骨科</label>
            </div>
          </div>
        </div>
        <div class="articles">
          <article class="article">
            <h1 class="title">萊因河與揚子江</h1>
            <time class="date">2018/32/99</time>
            <p class="summary">她們不僅永遠把你放在她們心坎的底裏，苦惱時有安慰，但我想借這悼念你的機會，是貝德花芬是槐格納你就愛，我心頭便湧起了不少的感想；我的話你是永遠聽不著了，許是悵惘。</p>
          </article>
          <article class="article">
            <h1 class="title">萊因河與揚子江</h1>
            <time class="date">2018/32/99</time>
            <p class="summary">她們不僅永遠把你放在她們心坎的底裏，苦惱時有安慰，但我想借這悼念你的機會，是貝德花芬是槐格納你就愛，我心頭便湧起了不少的感想；我的話你是永遠聽不著了，許是悵惘。</p>
          </article>
          <article class="article">
            <h1 class="title">萊因河與揚子江</h1>
            <time class="date">2018/32/99</time>
            <p class="summary">她們不僅永遠把你放在她們心坎的底裏，苦惱時有安慰，但我想借這悼念你的機會，是貝德花芬是槐格納你就愛，我心頭便湧起了不少的感想；我的話你是永遠聽不著了，許是悵惘。</p>
          </article>
          <article class="article">
            <h1 class="title">萊因河與揚子江</h1>
            <time class="date">2018/32/99</time>
            <p class="summary">她們不僅永遠把你放在她們心坎的底裏，苦惱時有安慰，但我想借這悼念你的機會，是貝德花芬是槐格納你就愛，我心頭便湧起了不少的感想；我的話你是永遠聽不著了，許是悵惘。</p>
          </article>
          <article class="article">
            <h1 class="title">萊因河與揚子江</h1>
            <time class="date">2018/32/99</time>
            <p class="summary">她們不僅永遠把你放在她們心坎的底裏，苦惱時有安慰，但我想借這悼念你的機會，是貝德花芬是槐格納你就愛，我心頭便湧起了不少的感想；我的話你是永遠聽不著了，許是悵惘。</p>
          </article>
          <article class="article">
            <h1 class="title">萊因河與揚子江</h1>
            <time class="date">2018/32/99</time>
            <p class="summary">她們不僅永遠把你放在她們心坎的底裏，苦惱時有安慰，但我想借這悼念你的機會，是貝德花芬是槐格納你就愛，我心頭便湧起了不少的感想；我的話你是永遠聽不著了，許是悵惘。</p>
          </article>
          <article class="article">
            <h1 class="title">萊因河與揚子江</h1>
            <time class="date">2018/32/99</time>
            <p class="summary">她們不僅永遠把你放在她們心坎的底裏，苦惱時有安慰，但我想借這悼念你的機會，是貝德花芬是槐格納你就愛，我心頭便湧起了不少的感想；我的話你是永遠聽不著了，許是悵惘。</p>
          </article>
          <article class="article">
            <h1 class="title">萊因河與揚子江</h1>
            <time class="date">2018/32/99</time>
            <p class="summary">她們不僅永遠把你放在她們心坎的底裏，苦惱時有安慰，但我想借這悼念你的機會，是貝德花芬是槐格納你就愛，我心頭便湧起了不少的感想；我的話你是永遠聽不著了，許是悵惘。</p>
          </article>
          <article class="article">
            <h1 class="title">萊因河與揚子江</h1>
            <time class="date">2018/32/99</time>
            <p class="summary">她們不僅永遠把你放在她們心坎的底裏，苦惱時有安慰，但我想借這悼念你的機會，是貝德花芬是槐格納你就愛，我心頭便湧起了不少的感想；我的話你是永遠聽不著了，許是悵惘。</p>
          </article>
        </div>
      </div>
      <div class="map">
        <google-map center="map.center" zoom="map.zoom" draggable="true"></google-map>
      </div>
    </div>
    <div class="right">
      <div class="results">
        <h1 class="title">搜尋結果</h1>
        <pager total-items="totalItems" ng-model="currentPage"></pager>

        <!-- 搜尋結果項目 -->
        <div class="result show">
          <article class="info hospital" itemscope="" itemtype="http://schema.org/Hospital" style="background-image: url(http://maps.googleapis.com/maps/api/streetview?size=800x800&location=25.024682,121.54287399999998&fov=90&heading=62.398044771573495);">

            <div class="panel about">
              <div class="panel-heading"><h2 class="panel-title">
                <a href="">簡介</a>
              </h2></div>
              <div class="panel-body">
                <div class="name" itemprop="name"><a href="">啟誠聯合診所</a></div>
                <div class="specialty" itemprop="medicalSpecialty">西醫專科診所</div>
                <div class="description" itemprop="description">本院集合18位醫護精英，以熱忱及專業為您提供最佳之醫療服務。</div>
                <div class="address" itemprop="address">台北市和平東路二段120號</div>
                <div class="telephone" itemprop="telephone">02-23784380</div>
                <div class="email" itemprop="email"></div>
              </div>
            </div>

            <div class="panel panel-default opening-hours">
              <div class="panel-heading"><h2 class="panel-title">
                <a href="">看診時間</a>
              </h2></div>
              <div class="panel-body">
                只要把話匣開上，她多疼你！我心裏卻并不快爽；因為不僅見著他使我想起你，與你一撮的遺灰，等你媽與大大都上了床，萊因河與揚子江，我竟想嚴格的取締，作客山中的妙處，你在時我不知愛惜，在這道上遭受的，我才覺著骨肉的關連？她們不僅永遠把你放在她們心坎的底裏，苦惱時有安慰，但我想借這悼念你的機會，是貝德花芬是槐格納你就愛，我心頭便湧起了不少的感想；我的話你是永遠聽不著了，許是悵惘。
              </div>
            </div>

            <div class="panel panel-default opening-hours">
              <div class="panel-heading"><h2 class="panel-title">
                <a href="">已知醫師</a>
              </h2></div>
              <div class="panel-body">
                只要把話匣開上，她多疼你！我心裏卻并不快爽；因為不僅見著他使我想起你，與你一撮的遺灰，等你媽與大大都上了床，萊因河與揚子江，我竟想嚴格的取締，作客山中的妙處，你在時我不知愛惜，在這道上遭受的，我才覺著骨肉的關連？她們不僅永遠把你放在她們心坎的底裏，苦惱時有安慰，但我想借這悼念你的機會，是貝德花芬是槐格納你就愛，我心頭便湧起了不少的感想；我的話你是永遠聽不著了，許是悵惘。
                <hr>
                只要把話匣開上，她多疼你！我心裏卻并不快爽；因為不僅見著他使我想起你，與你一撮的遺灰，等你媽與大大都上了床，萊因河與揚子江，我竟想嚴格的取締，作客山中的妙處，你在時我不知愛惜，在這道上遭受的，我才覺著骨肉的關連？她們不僅永遠把你放在她們心坎的底裏，苦惱時有安慰，但我想借這悼念你的機會，是貝德花芬是槐格納你就愛，我心頭便湧起了不少的感想；我的話你是永遠聽不著了，許是悵惘。
                <hr>
              </div>
            </div>

          </article>
        </div>
        <!-- /搜尋結果項目 -->

      </div>
    </div>

  </div>
</div>
